body {
    margin: 0;
    padding: 0;
    font-family: 'BIZ UDGothic', sans-serif;
    background: lightblue;
    color: black;
    text-align: center;
}

header {
    margin-bottom: 50px;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #DC143C,
        2px 2px 0px #DC143C,
        3px 3px 0px #DC143C,
        4px 4px 0px #DC143C;
    color: white;
    text-align: left;
}

h1 {
    margin: 80px 0 40px 0;
    font-size: 35px;
    color: #000055;
}

h2 {
    color: #000055;
}

form {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

input .submit {
    text-align: center;
}

input {
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 50px;
}

a {
    color: #DC143C;
    font-size: 20px;
    font-weight: bold;
}

div.btn {
    text-align: center;
}

input[type="submit" i],
input[type="radio" i],
div.btn,
a {
    cursor: pointer;
}


/* ------------------------------------ */
/* レスポンシブ*/
/* ------------------------------------ */

/* PC用のCSSはメディアクエリの外に記述する */

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
    header {
        font-size: 25px;
    }

    form {
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 50px;
        display: block;
        text-align: center;
    }

    div.contact-formbox {
        margin: 0px 0 30px 0;
    }

    h1 {
        font-size: 30px;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    input {
        margin-top: 5px;
    }

}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    header {
        font-size: 25px;
    }

    form {
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 50px;
        display: block;
        text-align: center;
    }

    div.contact-formbox {
        margin: 0px 0 30px 0;
    }

    h1 {
        font-size: 30px;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    input {
        margin-top: 10px;
    }
}