body {
  margin: 0;
  padding: 0;
  font-family: 'BIZ UDGothic', sans-serif;
  background: lightblue;
  color: black;
  text-align: center;
}

header {
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #DC143C,
    2px 2px 0px #DC143C,
    3px 3px 0px #DC143C,
    4px 4px 0px #DC143C;
  color: white;
  text-align: left;
}

h1 {
  margin: 80px 0 80px 0;
  font-size: 30px;
  color: #000055;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}

dd.contact-1 {
  margin-top: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btBox {
  margin: 60px 0 60px 0;
}

a {
  color: #DC143C;
  font-size: 20px;
  font-weight: bold;
}

span {
  margin: 0px 30px 0px 30px;
}

/* ------------------------------------ */
/* レスポンシブ*/
/* ------------------------------------ */

/* PC用のCSSはメディアクエリの外に記述する */

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
  header {
    font-size: 25px;
  }

  h1 {
    font-size: 18px;
    margin: 0%;
    margin-bottom: 50px;
  }

  .container {
    justify-content: space-around;
    display: block;
    text-align: center;
    margin-bottom: 0;
  }

  dd.contact-1 {
    margin-top: 0;
  }

  p {
    margin-top: 50px;
  }

  #btBox {
    margin: 30px 0 30px 0;
  }

}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  header {
    font-size: 25px;
  }

  h1 {
    font-size: 18px;
    margin: 0%;
    margin-bottom: 50px;
  }

  .container {
    justify-content: space-around;
    display: block;
    text-align: center;
    margin-bottom: 0;
  }

  dd.contact-1 {
    margin-top: 0;
  }

  p {
    margin-top: 50px;
  }

  #btBox {
    margin: 30px 0 30px 0;
  }

}