@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'BIZ UDGothic', sans-serif;
    background: lightblue;
    color: black;
    text-align: center;
}

header {
    margin-bottom: 50px;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #DC143C,
        2px 2px 0px #DC143C,
        3px 3px 0px #DC143C,
        4px 4px 0px #DC143C;
    color: white;
    text-align: left;
}

h1 {
    margin: 0px 0 10px 0;
    font-size: 30px;
    color: #000055
}

h2 {
    color: #000055
}

table {
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
}

a {
    cursor: pointer;
}

td.today {
    background: #ffff80;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
    header {
        margin-bottom: 40px;
        font-size: 20px;
    }

    h1,
    h2 {
        font-size: 18px;
    }

    table {
        margin-bottom: 40px;
    }

    p {
        font-size: small;
    }
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    header {
        margin-bottom: 40px;
        font-size: 20px;
    }

    h1,
    h2 {
        font-size: 18px;
    }
    p {
        font-size: small;
    }
    table {
        margin-bottom: 40px;
    }
}