body {
    margin: 0;
    padding: 0;
    font-family: 'BIZ UDGothic', sans-serif;
    background: lightblue;
    color: black;
    text-align: center;
}

header {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #DC143C,
        2px 2px 0px #DC143C,
        3px 3px 0px #DC143C,
        4px 4px 0px #DC143C;
    color: white;
    text-align: left;
}

h1 {
    margin: 100px 0 10px 0;
    font-size: 30px;
    color: #000055
}

h2 {
    margin: 30px 0 30px 0;
    font-size: 20px;
    color: #000055
}


form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

input .submit {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #DC143C;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: #000055;
}

div.btn {
    text-align: center;
}

input[type="submit" i],
input[type="radio" i],
div.btn,
a {
    cursor: pointer;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    header {
        font-size: 20px;
    }

    form {
        display: block;
        font-size: small;
        margin-bottom: 10px;
    }

    h1 {
        margin: 20px 0 10px 0;
        font-size: 18px;
    }

    h2 {
        margin: 10px 0 10px 0;
        font-size: 15px;
    }

    h3 {
        font-size: small;
        margin-top: 10px;
    }

    footer {
        margin-top: 10px;
        font-size: 15px;
    }
}