@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
  margin: 0;
}
section {
  align-items: center;
  flex-flow: column;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;

}

.button {
  color: #59C3C3;
  cursor: pointer;
  font-family: "Abril Fatface", sans;
  font-size: 30px;
  letter-spacing: -1px;
}
.button:hover {
  color: #E07A5F;
}

.top {
    font-size: 20px;
}
