* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BIZ UDGothic', sans-serif;
  background: lightblue;
  color: white;
}

h1 {
  margin: 80px 0 10px 0;
  font-size: 52px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #DC143C,
    2px 2px 0px #DC143C,
    3px 3px 0px #DC143C,
    4px 4px 0px #DC143C;
  text-align: center;
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  text-transform: uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  color: #DC143C;
  margin-bottom: 30px;
}

a {
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

div.point {
  margin-top: 50px;
}

/* ------------------------------------ */
/* レスポンシブ*/
/* ------------------------------------ */

/* PC用のCSSはメディアクエリの外に記述する */

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
  h1 {
    margin-top: 40px;
    font-size: 33px;
  }

  nav {
    padding: 0;
    margin: 80px 0 80px 0;
  }
}


/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
  nav {
    padding: 0;
    margin: 50px 0 50px 0;
  }
  
}