body {
    background-color: lightblue;
    font-family: 'BIZ UDGothic', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 70px;
    color: #000055;
}

h3 {
    color: #000055
}

header {
    margin-bottom: 50px;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #DC143C,
        2px 2px 0px #DC143C,
        3px 3px 0px #DC143C,
        4px 4px 0px #DC143C;
    text-align: left;
    color: #fff;
}

div.container {
    text-align: center;
    margin-top: 50px;
}

div.ID {
    margin: 50px 0 30px 0;
}

button {
    margin: 30px 0 30px 0;
}

span {
    margin: 0 40px 0 70px;
}
a {
    color: #DC143C;
    font-weight: bold;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    header {
        font-size: 25px;
    }

    h2 {
        margin-top: 40px;
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    button {
        margin: 0;
        margin-bottom: 30px;
    }

    span {
        margin-top: 30px;
        display: block;
    }

    div.ID {
        margin-top: 30px;
    }
}